.add-point-wrapper{
    height: 100%;
    .title{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;
    }
   
    .data-picker-input{
        width: 100%;
        border: 1px solid #6e6b7b;
        height: 100%;
    }
}