.report-overview-wrapper{
    .item-overview{
        .icon{
            margin-right: 10px;
        }
        .title{
            font-weight: 400;
            font-size: 14px;
            color: #212B35;
            opacity: 0.6;
            margin-bottom: 10px;
        }
        .sub-title{
            font-weight: 600;
            font-size: 18px;
            color: #212B35;
        }
    }   
}